USE [master]
GO
/****** Object:  Database [GrowattData]    Script Date: 06.06.2025 8:05:02 ******/
CREATE DATABASE [GrowattData]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GrowattData', FILENAME = N'/var/opt/mssql/data/GrowattData.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GrowattData_log', FILENAME = N'/var/opt/mssql/data/GrowattData_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GrowattData].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GrowattData]
GO
/****** Object:  User [Growatt]    Script Date: 06.06.2025 8:05:03 ******/
CREATE USER [Growatt] FOR LOGIN [Growatt] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Growatt]
GO
/****** Object:  Table [dbo].[audit_log]    Script Date: 06.06.2025 8:05:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[audit_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[method] [nvarchar](10) NULL,
	[path] [nvarchar](255) NULL,
	[timestamp] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[solar_data]    Script Date: 06.06.2025 8:05:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[solar_data](
	[Timestamp] [datetime] NOT NULL,
	[Production] [decimal](10, 2) NULL,
	[Consumption] [decimal](10, 2) NULL,
	[battery_level] [decimal](5, 2) NULL,
	[grid_import] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Timestamp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[audit_log] ADD  DEFAULT (getdate()) FOR [timestamp]
GO
USE [master]
GO
